<div class="container mt-2">
    <div class="col-12 mb-3">
        <div class="input-group">
            <input class="form-control border-end-0 border rounded-pill" type="text" placeholder="Search..." [(ngModel)]="search"/>
            <div class="input-group-append">
                <span class="input-group-text bg-transparent border-0"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-4" *ngFor="let item of filter()">
                <div class="card">
                    <img :src="{{ item.image }}" class="card-img-top custom-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-truncate">{{ item.title }}</h5>
                        <p class="card-text"><strong>{{ item.price }}$</strong></p>
                        <button class="btn btn-primary" role="button" (click)="addCart(item)">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
